name: Daily Quote & Weekly Term
on:
  schedule:
    - cron: '0 1 * * *'  
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install deep-translator

      - name: Run update script
        run: python3 update-quote-readme.py

      - name: Run update-term script
        env:
          GIST_URL: ${{ secrets.GIST_URL }}
        run: python3 update-terms-readme.py

      - name: Commit and push
        run: |
          git config --global user.name "PsheArt"
          git config --global user.email "71920004+PsheArt@users.noreply.github.com"
          git add README.md quote.svg term.svg  
          git commit -m "Update daily quote and weekly term: $(date +%Y-%m-%d)" || exit 0
          git push
